<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578114796578-2681p542cfffahm39g5lgjhickhov96g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578114796578-2681p542cfffahm39g5lgjhickhov96g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578114796578-qpala6m5dtv5sukn9eml42v3o0599bed.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHtWNMU7Tw5GeDJJZdyg5WYZX3qdDDGCo</string>
	<key>GCM_SENDER_ID</key>
	<string>578114796578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ezxsbeta</string>
	<key>PROJECT_ID</key>
	<string>ezxs-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>ezxs-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578114796578:ios:6691380baa95f7376a5e7b</string>
</dict>
</plist>